<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!--iconos  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="main-logo">
            <img src="/images/logo-mercado-liebre.svg"  alt="logo">
        </div>
        <section class="search-engine">
            <input type="text" placeholder="Buscar productos, marcas">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </section>
        <section class="info-payments">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </section>
        <nav class="navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                <li><a href="#">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <section class="menu">
            <div class="burguer-menu">
                <i class="icon-menu fa-solid fa-bars"></i>
            </div>
        </section>
    </header>

    <main>
        <section class="banner">
            <img src="/images/img-home-banner.jpg" alt="banner">
        </section>
        <section class="main">
            <h3 class="titulares">Basado en tu última visita</h3>
            <article class="product">
                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="imagen de la cafetera">
                <div class="info-card">
                    <div class="circle">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
                </div>
            </article>
            <article class="product">
                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="imagen de macbook Pro">
                <div class="info-card">
                    <div class="circle">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p class="descripciones"><strong>Macbook Pro 2019</strong></p>
                </div>
            </article>
            <article class="product">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="imagen de Samsung Galaxy">
                <div class="info-card">
                    <div class="circle">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
                </div>
            </article>
            <article class="product">
                <img src="/images/img-tv-samsung-smart.jpg" width="360" alt='imagen de SmartTv Samsung 43"'>
                <div class="info-card">
                    <div class="circle">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
                </div>
            </article>
        </section>
        <section class="main">
            <h3 class="titulares">Ofertas</h3>
            <article class="product">
                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="imagen de la cafetera">
                <div class="info-card">
                    <div class="circle">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
                </div>
            </article>
            <article class="product">
                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="imagen de macbook Pro">
                <div class="info-card">
                    <div class="circle">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p class="descripciones"><strong>Macbook Pro 2019</strong></p>
                </div>
            </article>
            <article class="product">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="imagen de Samsung Galaxy">
                <div class="info-card">
                    <div class="circle">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
                </div>
            </article>
            <article class="product">
                <img src="/images/img-tv-samsung-smart.jpg" width="360" alt='imagen de SmartTv Samsung 43"'>
                <div class="info-card">
                    <div class="circle">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
                </div>
            </article>
        </section>
    </main>

    <footer class="footer">
        <section class="center">
            <i class="icon-footer fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section class="center">
            <i class="icon-footer fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section class="center">
            <i class="icon-footer fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </section>
        <section>
            <p>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </section>
    </footer>
</body>

</html>